/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
} /*--------------------*/

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 24px;
  font-size: 18px;
  color: white;
}
.container {
  max-width: none;

}
.content__inner {
  flex: 1 1 auto;
}
/* ХЭДЭР */
.header,
.section {
  margin: 0 auto;
}
.header {
  margin-bottom: 60px;
}


.logo {
  border-radius: 50%;
  
  width: 60px;
  height: 40px;
}
.nav {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f719b;
}
.nav__button {
  padding: 3px 10px;
  background: #0f9b88;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
.header__burger{
  display: none;
}

/* Боковая навигация */
.aside {
  width: 10%;
  margin-left: 30px;
}

.aside li {
  list-style-type: none;
  padding: 12px 0;
  margin-bottom: 70px;
  background: linear-gradient(to bottom right, #0f9b88, #0f719b);
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}
.aside li a {

  text-decoration: none;
  color: white;
  font-family: 'Lucida Console', 'Courier New', monospace;
}

/* Основной раздел */
h2 {
  color: black;
  font-size: 22px;
}
.section {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 1px;
  flex-wrap: wrap;
  min-height: 70%;
  max-height: 80%;
}

.section__article {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}

.article__button {
  padding: 7px 30px;
  font-size: 12px;
  background: linear-gradient(to bottom right, #0f9b88, #0f719b);
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
}
.content__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__prewiew {
  width: 70%;
  height: 100%;
  object-fit: contain;
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
}
.footer__aside {
  padding: 9px 55px;
  font-size: 15px;
  color: #0f9b88;
  text-align: center;
}
.button:hover,
.nav__button:hover,
.article__button:hover,
.aside__ul li:hover,
.btn:hover,
.mod-menu:hover {
  background: #0f9b8f;
}

@media (max-width: 960px) {
  h2{
  font-size: 25px;
}
  .container {
    max-width: 960px;
  }
  .aside {
    width: 15%;
    margin-right: 40px;
    margin-left: 5px;
  }
  .section {
width: 85%;
margin-left: 10px;
}
  .aside li {
    border: 5px solid rgb(38, 143, 111);
    border-radius: 10px;
    padding: 20px 0;
  }
  .aside li a{
    padding: 24px 70px;
  }
  .aside li:nth-child(1) {
    background: url('../img/mountain_bike.svg') 50%/110px 64px no-repeat;
  }
  .aside li:nth-child(2) {
    background: url('../img/child.svg') 50% /110px 64px no-repeat;
  }
  .aside li:nth-child(3) {
    background: url('../img/city_bike.svg') 50%/110px 64px no-repeat;
  }
  .aside p {
    display: none;
  }
  .section__article {
    width: 50%;
  }
  .footer__aside:nth-child(1) {
    display: none;
  }
  .footer__aside:nth-child(2) {
    display: none;
  }
  .nav__button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .article__button {
    font-size: 18px;
  }
  .article__prewiew {
    width: 90%;
   
  }
  
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
  .section{
    width: 100%;
    margin: 0 10px;
  }
  .nav__button{
    display: none;
  }
  .header__burger{
    display: block;
  }
  .section__article {
    width: 100%;
    margin-bottom: 100px;
  }
  .article__prewiew {
  width: 100%;

}
  .aside {
    display: none;
  }
  .footer__aside:nth-child(1),
  .footer__aside:nth-child(2),
  .footer__aside:nth-child(3) {
    display: none;
  }
  h2{
    font-size: 30px;
    text-transform: uppercase;
    
  }
}


/* @media (max-width: 1300px) {
  .article__prewiew {
  width: 170px;
  height: 120px;
}
}
@media (max-width: 810px) {
  .article__prewiew {
  width: 170px;
  height: 120px;
}
}
@media (max-width: 700px) {
  .article__prewiew {
  width: 120px;
  height: 100px;
}

} */
